<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers_Info</title>
    <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
</head>
<body>
    <h1>Teachers Information</h1>
    <h2>Teachers</h2>
    {% if thr %}
        <h1>Teachers_Info</h1>
    {% else %}
        <p>No teachers found.</p>
    {% endif %}
    <table>
        <tr>
            <th>id</th>
            <th>t_id</th>
            <th>t_name</th>
            <th>t_email</th>
        </tr>
        {% for teacher in thr %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.t_id }}</td>
            <td>{{ teacher.t_name }}</td>
            <td>{{ teacher.t_email }}</td>
        </tr>
        {% endfor %}
</body>
</html>